@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Press Start 2P";
  color: #535353;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  top: 1vmin;
  right: 1vmin;
  text-align: left;
  min-width: 20%;
}

.hi-score {
  position: absolute;
  font-size: 3vmin;
  top: 1vmin;
  right: 25vmin;
  text-align: left;
  min-width: 25%;
}

.power-info {
  position: absolute;
  font-size: 3vmin;
  top: 1vmin;
  left: 2vmin;
  text-align: left;
  min-width: 25%;
}

.start-screen {
  position: absolute;
  width: 70%;
  font-size: 3vmin;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.power-image {
  height: 4vmin;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  --height: 30;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: calc(var(--height) * 1%);
  bottom: 0;
  z-index: -1;
}

.cloud {
  --bottom: 30;
  --width: 15;
  position: absolute;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  width: calc(var(--width) * 1%);
  z-index: -1;
}

.ptero {
  --bottom: 30;
  position: absolute;
  height: 30%;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  z-index: -1;
}

.power {
  --bottom: 30;
  position: absolute;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  width: 5%;
}